<!--
 * Author: Jonathan Reardon.
 * Project: AimTrainerGame.
 *
 * Summary: this project is heavily inspire by a flash based game "http://www.aimbooster.com/", all visual aspects are being created using the p5.js library "https://p5js.org/".
-->

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>projects</h1>
        <p>
            <a asp-area="" asp-controller="Home" asp-action="AimTrainerGame">2D Aim Trainer</a>
        </p>
        <h1>Curriculum Vitae</h1>
        <p>
            <a asp-area="" asp-controller="Home" asp-action="CV">CV</a>
        </p>
    </div>