<!--
 * Author: Jonathan Reardon.
 * Project: AimTrainerGame.
 *
 * Summary: this project is heavily inspire by a flash based game "http://www.aimbooster.com/", all visual aspects are being created using the p5.js library "https://p5js.org/".
-->

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <script src="p5/p5.js"></script>
    <script src="p5/p5.dom.js"></script>
    <script src="p5/p5.sound.js"></script>
    <script src="AimTrainerGame/Target.js" type="text/javascript"></script>
    <script src="AimTrainerGame/Button.js" type="text/javascript"></script>
    <script src="AimTrainerGame/GameFunctions.js" type="text/javascript"></script>
    <script src="AimTrainerGame/AimTrainerGame.js" type="text/javascript"></script>
    <h1>Aim Trainer.</h1>
    <p>this project is heavily inspire by a flash based game <a href="http://www.aimbooster.com//" target="_blank">aimbooster</a>, all visual aspects are being created using the <a href="https://p5js.org/" target="_blank">p5.js</a> library.</p>
</div>